#main_s {
    background-color: transparent;
    text-align: center;
    overflow: hidden;
}
#qa_s {
/*    background-color: lime;*/
}
#whatnow_s {
/*    background-color: pink;*/
}
#countdown_s {
/*    background-color: lime;*/
}
#sponsors_s {
/*    background-color: pink;*/
}
#map_s {
/*    background-color: lime;*/
}
#contact_s {
/*    background-color: #333;*/
/*    color: white;*/
}


/* Main */
#main_s {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
#main_s > #logo {
    width: 80%;
    margin-top: 0px;
}
#main_s > p {
    width: 100%;
/*
    padding: 5vw 0;
*/
}
#main_s > #buttons {
    text-align: center;
    width: 100%;
    margin-bottom: 2vw;
}
#main_s > #buttons > button {
    margin: 3pt 10pt;
    font-size: 20pt;
}

@media screen and (min-width: 1000px) {
    #main_s > #logo {
        width: 20%;
        left: calc(50% - 600px / 2);
        margin-bottom: -20px;
    }
    #main_s > p {
        padding: 50px 0;
    }
}

/*What Now Halfs */

   .left-half {
      float: none;
      width: 100%;
}
    .right-half {
      float: none;
      width: 100%;
}

.right-half > img > #IST-img {
    width: 100%;
    height: auto;
    max-width: 100%; 
}

@media screen and (min-width: 1000px){
.left-half {
  float: left;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.right-half {
  float: right;
  width: 50%;
}

}

/* Q&A */
#qa_s, #countdown_s {
    padding: 2em 0;
}
.faq {
/*
    width: 100%;
    padding: 0.25em 2em 0.5em;
    box-sizing: border-box;
/*    background: green;*/
    max-width: 70%;
    margin-left: auto; 
    margin-right: auto;

}
.faq:nth-child(3) {
    padding-top: 1.5em;
}
.faq:last-child {
    padding-bottom: 1.5em;
}
.faq > .question {
    cursor: pointer;
    text-decoration: none;
    font-size: 4vw;
    line-height: 7vw;
    white-space: nowrap;
}
.faq > .question::after {
    content: "\25bc";
    left: .5em;
    position: relative;
    font-family: sans-serif;
    -webkit-transform: none;
    transform: none;
    display: inline-block;
    top: -1px;

    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}
.faq > .answer {
    font-size: 0vw;
    line-height: 0vw;
    color: transparent;
    margin-top: 1em;
    margin-left: 0.5em;

    -webkit-transition: line-height .4s, color .4s, font-size .4s, margin .4s, margin-left .4s, margin-top .4s;
    transition: line-height .4s, color .4s, font-size .4s, margin .4s, margin-left .4s, margin-top .4s;
}
.faq.show > .question::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq.show > .answer {
    font-size: 2vw;
    line-height: 2vw;
    color: inherit;
    font-variant: inherit;
}

@media screen and (min-width: 1000px) {
    .faq > .question {
        cursor: default;
        font-size: 40px;
        padding: 35px 0 1em;
        line-height: 60px;
    }
    .faq > .question::after {
        display: none;
    }
    .faq > .answer, .faq.show > .answer {
        font-size: 20px;
        line-height: 20px;
        color: inherit;
        -webkit-transition: none;
        transition: none;
    }
}

/* Map */
#map_s {
    padding: 0;
}
#mapCover {
    position: relative;
    width: 100%;
    height: 80vw;
    -webkit-user-select: none;
    user-select: none;
}
@media screen and (min-width: 800px) {
    #mapCover {
        height: 640px;
    }
}
#mapCover > #mapDarkness {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
    justify-content: center;
    display: flex;
    opacity: 0;
    pointer-events: none;

    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}
#mapCover > #mapDarkness > #mapEnableLabel {
    background: black;
    border-radius: 5px;
    padding: .5em;
    color: white;
    align-self: center;
}
#imTheMap {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: all;
}
#mapCover.preventScroll #imTheMap {
    pointer-events: none;
}
#mapCover.preventScroll #mapDarkness {
    opacity: 1;
    pointer-events: all;
}

/* When/Statistics */
#countdown_s {
}
#button {
    text-align: center;
    line-height: 2em;
/*    background: green;*/
    padding: 2em 0;
}
#bigRedButton {
    cursor: pointer;
    position: relative;
    margin: auto;
    margin-bottom: 1em;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: red;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 5px #300 inset, 1px 2px 0 #800, 2px 4px 0 #700, 3px 6px 1px #600, 4px 6px 39px black;

    -webkit-transition: box-shadow .3s, top .3s, left .3s;
    transition: box-shadow .3s, top .3s, left .3s;
}
#bigRedButton:active {
    top: 1px;
    left: 1px;
    box-shadow: 0 0 10px #500 inset, 0px 0px 0 #800, 1px 2px 0 #700, 2px 4px 1px #600, 3px 5px 20px black;
}
#countdownTimer {
    text-align: center;
    width: 100%;
/*    padding: 2em 0;*/
/*    background: green;*/
}

/* Contact */
#contact_s {
    padding: 1em 0;
    text-align: center;
}
.social {
    width: 8vw;
    height: 8vw;
    font-size: 4vw !important;
    background: #444;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin: .3em;
    margin-top: .5em;

    -webkit-transition: background .2s;
    transition: background .2s;
}
.social:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 8vw;
}
#theFacebookLink:hover {
    background: #3B5998;
}
#theTwitterLink:hover {
    background: #00ACED;
}
#googleLink:hover {
    background: #DD4B39;
}
#theEmailLink:hover {
}
@media screen and (min-width: 1000px) {
    .social {
        width: 80px;
        height: 80px;
        font-size: 40px !important;
    }
    .social:before {
        line-height: 80px;
    }
}