/* TODO fix white bar on IOS */
/* TODO: fix positions of links on IOS */
html {
    height: 100%;
}
::selection {
    background: black;
    color: white;
}
::-moz-selection {
    background: black;
    color: white;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url("resources/backgroundimg(1)_seamless_y.png");
    background-size: auto 200%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 300px;
}
section {
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
    position: relative;
    background-position: center !important;
    background-size: auto 100% !important;
/*    background-color: white;*/
}
section h1 {
    font-size: 2.1em;
    text-align: center;
    text-transform: uppercase;
}
#mlhBanner {
    display: block;
    background: url(resources/mlh_banner.png);
    width: 12vw;
    height: 21.3vw;
    position: relative;
    top: 76px;
    right: 10px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    z-index: 1;
    top: calc(10vw + 5px);
}
nav {
    width: 100%;
    border-bottom: 5px solid;
/*    border-color: red;*/
    position: fixed;
    z-index: 2;
/*    background: black;*/
/*    color: white;*/
    display: flex;
    text-transform: uppercase;
}
nav.hidden {
    position: relative;
    opacity: 0;
    pointer-events: none;
}
nav > a {
    position: relative;
/*    background: rgba(0, 255, 0, .3);*/
    width: 100%;
    font-size: 1em;
    line-height: 10vw;
    height: 10vw;
    text-align: center;

/*    color: white;*/
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;

    -webkit-transition: background .3s;
    transition: background .3s;
}
nav > a > span {
    position: relative;
}
nav > a .bar {
    position: absolute;
/*    background: white;*/
    height: 2px;
    top: calc(50% + .5 * 13pt + 5px);
    width: 100%;
    left: 50%;

    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}
nav > a:hover .bar {
    -webkit-transform: translateX(-50%) scaleX(.95);
    transform: translateX(-50%) scaleX(.95);
}
nav > a.current:not(:hover) .bar {
    -webkit-transform: translateX(-50%) scaleX(.8);
    transform: translateX(-50%) scaleX(.8);
}

@media screen and (min-width: 1000px) {
    nav > a {
        font-size: calc(1000px * 0.02);
        line-height: calc(1000px * 0.1);
        height: calc(1000px * 0.1);
    }
    #mlhBanner {
        top: calc(1000px * 0.1 + 4px);
        width: 120px;
        height: 213px;
    }
}

@media screen and (min-width: 750px) {
    div#bigRedButton {
        width: 150px;
        height: 150px;
    }
}
a > button {
  text-decoration: none;
}
a.navLink {
    position: relative;
    top: -12.5vw;
    display: block;
    width: 40px;
    height: 40px;
/*    background: pink;*/
    height: 0;
}
a#dropdown > img {
    vertical-align: middle;
}
a#logo > img {
    vertical-align: middle;
    padding-left: 1em;
}

a.right-half#IST_img > img{
    width: 100%;
    height: auto;
    max-width: 100%;

}

@media screen and (min-width: 1000px) {
    a.navLink {
        top: calc(1000px * -.125);
    }
}

#main_s {
    height: auto;
}
/*
    height: calc(100% - 5px - 10vw - 1px);
    height: calc(100% - (10vw + 5px));
}

@media screen and (min-width: 1000px) {
    #main_s {
        height: calc(100% - 5px - 1000px * 0.1 - 1px);
        height: calc(100% - (1000px * .1 + 5px));
    }
}*/

ul > li {
    text-transform: inherit;
}

#whatnow_s, #sponsors_s {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 2em 0;
  max-width: 70%;
  margin-left: auto; 
  margin-right: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  overflow-y: hidden;
  }

/* Button overrides */
button {
    border: 1px solid;
    border-radius: 3px;
    font-family: 'Ubuntu', sans-serif;
    padding: .4em;
    font-size: 20pt;
    margin: 3pt;

    -webkit-transition: background .2s, color .05s;
    transition: background .2s, color .05s;
}
button.disabled {
    opacity: .4;
}
button:hover:not(.disabled) {
    cursor: pointer;
}
button:focus {
    border-color: #9CF;
    outline: 2px solid;
    outline-color: #9CF;
}
button:active {
/*    color: grey;*/
}

a {
    color: inherit;
    text-decoration: underline;
}

footer#copyright {
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
/*    background: black;*/
/*    color: white;*/
    text-decoration: none;
}
footer#copyright > a {
    text-decoration: none;
}

#tooltip {
    height: 1em;
    background: rgba(0, 0, 0, .7);
    border-radius: 2px;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    padding: .5em;
    line-height: 1em;
    white-space: nowrap;

    -webkit-transition: opacity .1s, visibility .1s, padding .2s;
    transition: opacity .1s, visibility .1s, padding .2s;
}
#tooltip.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
}

@media screen and (min-aspect-ratio: 1000/553) {
    body {
        background-size: 100% auto !important;
    }
}

li {
    padding: .4em;
    text-transform: uppercase;
}


/* Sponsor images */
#sponsorImgs {
    text-align: center;
}
a.sponsorImg {
    display: inline-block;
    margin: 2vw;
}
a.sponsorImg.priority1 {
    max-width: 35vw;
}
a.sponsorImg.priority2 {
    max-width: 20vw;
}
a.sponsorImg.priority3 {
    max-width: 15vw;
}

@media screen and (max-width: 900px) {
    a.sponsorImg.priority1 {
        max-width: 315px;
    }
    a.sponsorImg.priority2 {
        max-width: 180px;
    }
    a.sponsorImg.priority3 {
        max-width: 135px;
    }
}

a.sponsorImg > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}