html, body {
	padding: 0;
	margin: 0;
}

body {
	background: #CB356B;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, p {
	
	font-weight: 300;
	color: white;
}

h2 {
	font-family: 'Cabin Sketch', cursive;
	color: white;

}

h1 {
	font-family: 'Cabin Sketch', cursive;
	color: white;
	font-size: 3.5em;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

section {
	padding: 20px;
}

.head {
	background-color: black;
	padding: 20px;
}

.head a {
	margin: 20px;
	text-decoration: none;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.links {
	padding: 20px;
	display: inline-block;
}

.links a {
	margin: 20px;
	text-decoration: none;
	color: white;
	font-family: 'Roboto', sans-serif;
}
